**/__pycache__/
**/.cache/
**/*.pkl
**/.DS*
**/*.pt
*.mlpackage
**/*.ckpt
.vscode
**/.ipynb_checkpoints
generated.png
**/generated
**/pretrained
**/*.msgpack
*.egg-info/
.idea/
*.egg
dist
build
README
**/.cog
**/cog
